// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Raleway:wght@300;500;700&display=swap');
// Define fonts for body and headers
$body-font: "Arapey",
"Georgia",
"serif";
$headers-font: "Raleway",
"Helvetica",
"sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h2 {
  font-family: Raleway !important;
  font-size: 2rem !important;
  font-weight: bold;
}

h3 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
}


h5 {
  font-family: Raleway;
  font-size: 15px;
}
