.card-photo {
  width: 100%;
  background-color: white;
  margin: 15px auto;
  padding: 30px;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-bottom: 50px;
}

h3 {
  float: left;
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
  font-size: 24px;
  color: #666;
  font-family: 'Raleway';
  letter-spacing: 1px;
  text-align: center;
}

.card-photo-infos {
  width: 100%;
  background-color: white;
  // height: 90%;
  margin: 15px auto;
  padding: 30px 20px;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  position: sticky;
  top: 90px;

  p {
    padding-bottom: 20px;
    font-size: 1rem;
    font-family: Arapey;
  }
}

.card-photo-infos h3 {
  float: left;
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
  font-size: 24px;
  color: #666;
  font-family: 'Raleway';
  letter-spacing: 1px;
}

.list-inline-item img {
  width: 100%;
  height: auto;
}

.card-photo-infos-info {
  // background-color: aliceblue;
  padding: 5%;
  display: grid;

  h5 {
    padding-bottom: 5px;
    justify-content: flex-start;
    display: flex;
    font-size: 14px;
  }

  h3 {
    float: left;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
    font-size: 24px;
    color: #666;
    font-family: 'Raleway';
    letter-spacing: 1px;
  }
}

.card-photo-infos-info>a {
  padding-top: 20px;
  font-family: Arapey;
  font-size: 1rem;

  &:hover {
    color: #000;
  }
}

.project-details {
  float: left;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;

  li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    list-style: none;
    font-family: Arapey;
  }
}

.project-details li i {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  font-size: 14px;
  color: #000;
}

.card-photo-infos-list {
  float: left;
  width: 100%;
  padding-left: 40px;
}

.link-album {
  padding: 0 0.7em;
}

.gallery-show {
  width: 100%
}

@media (min-width: 1200px) {
  .gallery-show {
    max-width: 1576px;
  }
}
