<% if  @album.cover.attached? %>
<% uploaded_image = cl_image_path @album.cover.key %>
<% else %>
<% uploaded_image = cl_image_path 'ph-web/4_pzqq2d' %>
<% end %>

<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= uploaded_image %>);">
  <div class="container-banner">
    <h1><%= @album.title %></h1>
    <h3><%= @album.quote %></h3>
    <p class="category-banner"><%= @album.category %></p>
  </div>
  <a href="#content-show-album"><i class="fas fa-chevron-down"></i></a>
</div>
