<footer id="footer">
  <div class="policy-box">
    <span>Made with love & passion by &copy;<a href="https://github.com/Ahiiia92">Ahiiia92</a></span>
    <ul>
      <li><a href="https://www.maroussiaarnault.com">contact@maroussiaarnault.com</a></li>
    </ul>
  </div>
  <!-- footer social -->
  <div class="footer-social">
    <ul>
      <li>
        <a href="https://twitter.com/Marou_arnault" target="Let's Tweet!"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://github.com/Ahiiia92" target="Let's Tweet!"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/marou_ss/" target="Follow Me!"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</footer>
