<div class="content-holder scale-bg2">
  <div class="display full-height">
    <div class="fixed-title">
      <p>About Me</p>
    </div>
    <!-- background -->
    <div class="full-height-wrap fixed-wrap">
      <div class="bg"
        style="background-image: url('<%= cl_image_path 'ph-web/marou-philadelphia_judrqv', effect: 'art:daguerre'; %>');">
        <div class="filter"></div>
      </div>
    </div>

    <!-- End Bakcground -->
    <!-- Content -->
    <div class="card-inner">
      <div class="container d-flex justify-content-end align-items-center"=>
        <div class="row align-items-center">
          <div class="col-md-7"></div>
          <div class="col-md-4">
            <div class="title">
              <h2>About Me</h2>
            </div>
            <div class="separator"></div>
            <div class="quote">
              <h3>"The real voyage of discovery consists not in seeking new landscapes but having new eyes."</h3>
              <h4>- Marcel Proust</h4>
            </div>
            <div class="description">
              <p>I'm Maroussia, photograph amateur. I like to explore the world and capture a moment. I love travelling.
                Without any pretension I'm sharing some of my pictures with you.</p>
              <p>Welcome and Enjoy!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </div>
</div>
