<h1>Portfolio</h1>
<p>Find me in app/views/albums/index.html.erb</p>

<div class="grid">
  <%= @albums.each do |album| %>
    <%= cl_image_path album.cover.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

