<h1>Portfolio</h1>
<p>Find me in app/views/albums/index.html.erb</p>

<div class="grid">
  <div><img src="" alt=""></div>
  <div><img src="" alt=""></div>
  <div><img src="" alt=""></div>
  <div><img src="" alt=""></div>
  <div><img src="" alt=""></div>
</div>

pe
<%= link_to "Specific Album", album_path(@album) %>
