<h1>Portfolio</h1>
<p>Find me in app/views/albums/index.html.erb</p>

<div class="grid">
  <%= @albums.each do |album| %>
    <%= link_to "Specific Album", album_path(@album) |album| do %>
      <div><%= cl_image_path @album.cover.key, height: 300, width: 400, crop: :fill %></div>
    <% end %>
  <% end %>
</div>



