.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.grid>div {
  background: black;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.grid>div::before {
  content: "";
  // Take 100% of the width
  // padding-top: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

.grid>div>a>img {
  // display: none;
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
  object-fit: contain;
}

.grid->div>a {
  text-decoration: none;
}

body {
  margin: 2rem;
}
